.table-response {
  white-space: nowrap;
  overflow: auto;
  height: 30vh;

  thead th {
    position: sticky;
    top: 20px;
    z-index: 1;
    background: #fff;
  }

  p {
    margin-bottom: 0;
  }

  .active {
    background: #c8e6c9;
  }
}

.table td:last-child,
.table td:nth-last-child(2),
.table td:first-child {
  white-space: break-spaces;
}

.transformation-select {
  width: 30%;
}
