img {
    max-width: 100%;
}

.map, .leaflet-container {
    height: 50vh;
    max-width: 100%;
    cursor: pointer;
}

.app-header {
    margin-left: -15px;
    margin-right: -15px;
}

.app-header h1 {
    font-size: 2rem;
}

.footer {
    margin-top: 100px;
}

.footer a {
    color: #91c6ff;
}

.footer a:hover {
    color: #6eaef3;
    text-decoration: none;
}

